$mybrown: #c4b7a6;
$myyellow: rgb(253,253,150);
$mylight: #e6e2d3;
$dark: rgb(0, 0, 0);
$lime: rgb(0, 255, 30);
$darkbrown: #481f01; 
$logobrown: #dbceb0;
$mydarkyellow: #efcc00;
$mywhite: #FFFAFA;
$skyblue: #95c8d8