@font-face {
  font-family: "henrymorganhandregular";
  src: url("/src/fonts/HenryMorganHand-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.navbar__menu, .navbar__menu--links, .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar {
  background: #481f01;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}

.navbar-brand {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
  margin-left: 24px;
  font-style: italic;
  font-family: "henrymorganhandregular";
}

.navbar__menu--links {
  color: white;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}
.navbar__menu--links:hover {
  color: blue;
  transition: all 0.3s ease;
}

#button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgb(253, 253, 150);
  margin-left: 16px;
  color: rgb(0, 0, 0);
}
#button:hover {
  background: gray;
}

.navbar__bars {
  display: inline-block;
  opacity: 0;
}
@media screen and (max-width: 760px) {
  .navbar__bars {
    color: rgb(0, 0, 0);
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}

.navbar__menu {
  text-align: center;
  margin-right: 24px;
}
@media screen and (max-width: 760px) {
  .navbar__menu {
    display: none;
  }
}

#secondPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  background: #e6e2d3;
}

.container {
  background: #fff;
  width: 800px;
  max-width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.container .text {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  background: #efcc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container form {
  padding: 30px 0 0 0 0;
}

.container form .form-row {
  display: flex;
  margin: 32px 0;
}

form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

form .form-row .text-area {
  height: 70px;
}

.input-data input,
.textarea textarea {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  color: #95c8d8;
  font-size: 14px;
}

.input-data label {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before,
.input-data .underline:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #95c8d8;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before, .underline:after,
.textarea textarea:focus ~ .underline:before, .underline:after,
.input-data input:valid ~ .underline:before, .underline:after,
.textarea textarea:valid ~ .underline:before, .underline:after {
  transform: scaleX(1);
}

.submit-btn .input-data {
  height: 45px !important;
  width: 25% !important;
  overflow: hidden;
}

.submit-btn .input-data .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: rgb(253, 253, 150);
}

.submit-btn .input-data:hover .inner {
  background: gray;
  transition: all 0.3s;
}

.submit-btn .input-data input {
  position: relative;
  z-index: 2;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .container .text {
    font-size: 30px;
  }
  .container form {
    padding: 10px 0 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
}
.g-recaptcha {
  margin: 10px 20px;
}

.status {
  font-size: 15px;
  color: green;
  padding: 15px;
}

.status span {
  color: red;
}

.carousel {
  position: relative;
  height: 600px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  background: pink;
  height: 100%;
  position: relative;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 999;
}

.carousel__button--left {
  left: 1rem;
  position: absolute;
}

.carousel__button--right {
  right: 1rem;
  position: absolute;
}

.carousel__button img {
  width: 12px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 45%;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

@font-face {
  font-family: "henrymorganhandregular";
  src: url("/src/fonts/HenryMorganHand-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #e6e2d3;
}

.hero {
  background-color: #e6e2d3;
  background-image: url("../images/tile8.jpg");
  background-repeat: repeat;
  background-size: 2000px 1200px;
}
.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}
@media screen and (max-width: 760px) {
  .hero__container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.hero__container--left {
  width: 100%;
  line-height: 1.2;
}
@media screen and (max-width: 760px) {
  .hero__container--left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 280px) {
  .hero__container--left {
    line-height: 1.5;
  }
}
.hero__container--left h1 {
  font-size: 4rem;
  color: #FFFAFA;
}
@media screen and (max-width: 280px) {
  .hero__container--left h1 {
    font-size: 1.5rem;
  }
}
.hero__container--left h2 {
  font-size: 4rem;
  color: #efcc00;
}
@media screen and (max-width: 280px) {
  .hero__container--left h2 {
    font-size: 2rem;
  }
}
.hero__container--left p {
  font-size: 2rem;
  color: #FFFAFA;
  margin-top: 1rem;
  font-weight: 700;
}
@media screen and (max-width: 280px) {
  .hero__container--left p {
    font-size: 1.5rem;
  }
}
.hero__container--btn {
  font-size: 1rem;
  background-color: rgb(253, 253, 150);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  outline: none;
}
.hero__container--btn a {
  position: relative;
  z-index: 2;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.hero__container--btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: gray;
  transition: all 0.3s;
  border-radius: 4px;
}
.hero__container--btn:hover:after {
  width: 100%;
}
.hero__container--right {
  text-align: center;
}
.hero__container--img {
  height: 100%;
  width: 100%;
}

.about__section {
  padding: 60px 60px;
  background: #e6e2d3;
  color: rgb(0, 0, 0);
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #e6e2d3;
}

.about__container h1 {
  font-size: 3rem;
  color: rgb(0, 0, 0);
  margin-bottom: 32px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.about__text {
  line-height: 2.3;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 350;
  display: inline-block;
  text-align: center;
}

.main__section {
  padding: 60px 60px;
  background: #e6e2d3;
  color: rgb(0, 0, 0);
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #e6e2d3;
}

.main__container h1 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  margin-bottom: 32px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.main__text {
  line-height: 2.3;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 350;
  display: inline-block;
  text-align: center;
}

.social-section {
  padding: 60px 60px;
  background: #e6e2d3;
}

.social-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #e6e2d3;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 20px 25px;
}

footer {
  background: #481f01;
  clear: both;
  text-align: center;
  padding: 1em;
  color: #FFFAFA;
}

/*# sourceMappingURL=style.css.map */
